.headerSection {
  background-color: yellow;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: calc(100vh - 70px);
  width: 100%;
  /* display: flex; */
}
.innerHeaderSection {
  background-color: white;
  padding: 30px 0px;
  width: 70%;
  margin: 0 auto;
}

.nameText {
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  color: #002244;
}
.profText {
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  color: #162738;
}
